@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-template-areas {
  grid-template-areas: "sidenav main-content" "playing playing";
}

.sidenav {
  grid-area: sidenav;
}

.content {
  grid-area: main-content;
}

.now-playing {
  grid-area: playing;
}

.track:hover .track-no,
.track.selected .track-no {
  visibility: hidden;
}

.track:hover .play,
.track.selected .play {
  visibility: visible;
}
